<h1><%= t("activerecord.models.user.other") %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= t("activerecord.attributes.user.name") %></th>
      <th><%= t("activerecord.attributes.user.email") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.avatar.present? %>
            <%= image_tag url_for(user.avatar), width: "50" %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t("operations.show"), user_path(user) %></td>
        <td>
          <%= form_with model: @follows[user.id], local: true, url: follows_path do |f| %>
            <%= f.hidden_field :followee_id %>
            <%= f.submit "フォローする" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<br>