<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.name") %></th>
      <th><%= t("activerecord.attributes.user.email") %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <%- if user.id != current_user.id %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t("operations.show"), user_path(user) %></td>
        <td><%= link_to t("activerecord.models.book.other"), booklist_path(user) %><td>
        <td><%= link_to t("activerecord.models.report.other"),reportlist_path(user) %></td>
        <td>
        <%- if @follows[user.id] %>
          <%= link_to t("operations.cancel_follow"), follow_path(@follows[user.id]), method: :delete %>
        <%- else %>
          <%= form_with model: @new_follows[user.id], local: true, url: follows_path do |f| %>
            <%= f.hidden_field :followee_id %>
            <%= f.submit t("operations.follow") %>
          <% end %>
        <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate users %>