<h1><%= Report.model_name.human %></h1>

<p>
  <strong><%= Report.human_attribute_name(:contributor) %>:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:date)  %>:</strong>
  <%= @report.date %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:text) %>:</strong><br>
  <%= simple_format @report.text %>
</p>

<%- if @report.user_id == current_user.id %>
  <%= link_to t("operations.edit", resource: ""), edit_report_path(@report) %>
<% end %>

<br>

<%= render "shared/comments" %>
