<h1><%= t("activerecord.models.report.one") %></h1>

<p>
  <strong><%= t("activerecord.attributes.report.title") %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= t("activerecord.attributes.report.date") %>:</strong>
  <%= @report.date %>
</p>

<p>
  <strong><%= t("activerecord.attributes.report.text") %>:</strong><br>
  <%= simple_format @report.text %>
</p>

<%= link_to t("operations.edit", resource: ""), edit_report_path(@report) %> |
<%= link_to t("operations.back"), reports_path %>
