<h1><%= t("activerecord.models.report.one") %></h1>

<p>
  <strong><%= t("activerecord.attributes.report.contributor") %>:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.report.title") %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= t("activerecord.attributes.report.date") %>:</strong>
  <%= @report.date %>
</p>

<p>
  <strong><%= t("activerecord.attributes.report.text") %>:</strong><br>
  <%= simple_format @report.text %>
</p>

<%- if @report.user_id == current_user.id %>
  <%= link_to t("operations.edit", resource: ""), edit_report_path(@report) %>
<% end %>

<br>

<%= render "shared/comments" %>
