<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>
    <% if user_signed_in? %>
      <% if current_user.avatar.present? %>
        <%= image_tag url_for(current_user.avatar), width: "40" %>
      <% end %>
      <%= t("devise.sessions.current_user", user: current_user.email) %>
      <%= link_to t("devise.registrations.edit.edit_profile"), edit_user_registration_path %> |
      <%= link_to t("devise.sessions.destroy.logout"), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path %> |
      <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path %>
    <% end %>
  </p>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <p>
    <% if user_signed_in? %>
      <%= link_to t("activerecord.models.book.other"), books_path %> | 
      <%= link_to t("activerecord.models.user.other"), users_path %> | 
      <%= link_to "フォローリスト", follows_path %>
    <% end %>
  </p>
  <%= yield %>
  </body>
</html>
